*,
* ::after,
*::before {

box-sizing: border-box;
text-decoration: none;
}

.nav {

margin: 100px;
}



.nav__list{

display: flex;
justify-content: space-around;
background-color: rgb(51, 64, 83);
padding-left: 70px;
padding-right: 70px;
font-family:Arial, Helvetica, sans-serif;
}


.nav__list-item {

text-align: center;
padding: 20px;
border-left: 1px solid white;
border-right: 1px solid white;
font-size: 17px;
color: white;
}

.nav__list-item:nth-child(2) {

flex-basis:150px ;
}

.logo {

   
font-size: xxx-large;
padding: 100px;
color:aquamarine ;
}

.sidebar__list {

font-family:Arial, Helvetica, sans-serif;
display: flex;
border: 1px solid rgb(122, 120, 120);
flex-direction: column;
width: 200px;
margin-left: 100px;
}

.sidebar__list-item {
       
padding: 20px;
color: black;
font-size: 22px;
}

.sidebar__item-link {

color: #000;
}

.nav__item-link {

    color: white;
}

.footer__list {

display: flex;
justify-content: space-around;
background-color: gray;
padding-left: 70px;
padding-right: 70px;
font-family:Arial, Helvetica, sans-serif;
}

.footer__list-item {

padding: 20px;
text-align: center;
font-size: 15px;
}

.list-wrapper {

margin: 100px;
}

.footer__list-item:last-child {

margin-left: 50px;
padding-left: 50px;
font-size: 15px;
}

.aside-main-wrapper {

display: flex;

}

.main__image {

border: 1px solid rgb(122, 120, 120);

width: 600px;

}

.main__discription {

text-align:start;
margin-top: 25px;
width: 600px;
font-family:Arial, Helvetica, sans-serif;
letter-spacing: 1px;
color: rgb(122, 120, 120);
}

.main__container {

display: flex;
flex-direction: column;
margin-left: 260px;
}


